@media screen and (min-width: 500px)
{
	body{
		padding: 10px;
	}

    header {
		display: grid;
		align-items: center;
		justify-content: space-between;
		grid-template-columns: 1fr 1fr;
	}

	#menu {
		display:none;
	}
	
	.nav1 {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 1rem;
		font-size: 1.2rem;
	}
	
	.nav1 a {
		text-decoration: none;
		display:block;
		border-radius: 1rem;
		padding: .5rem;
	}

	.nav1 a:link {
		color: var(--nav-link-color);
	}

	.nav1 a:hover {
		color: var(--primary-color);
		background-color: var(--nav-hover-background-color);
	}

	.nav1 a:visited {
		color:var(--link-visited-color)
	}

	main{
		display: grid;
		gap: 20px;
		padding: 10px;
		grid-template-rows: 1fr 3fr ;
	}

	#card2 {
		background-color: var(--tertiary-color);
	}

}