:root{
    --primary-color: #353535;
    --secondary-color: #3c6e71;
    --accent-color:#d9d9d9;
    --link-color:#284b63;

    --main-font-family: "Roboto";
    --font-regular: 400;
    --font-medium: 500;
    --font-bold: 700;
    --font-color: #ffffff;

    --myspace-font: "Arial Rounded MT";
    --myspace-background-color: #2357B7;
}

body{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    background: #284b63;;
}

header {
    font-family: var(--main-font-family);
    font-weight: var(--font-bold);
    background-color: var(--primary-color);
    color: var(--font-color);
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

section h2, section p {
    color: var(--font-color);
    font-family: var(--main-font-family);
    padding: 0 20px 0 20px;
}

h2 {
    text-align: center;
}

section {
    display: block;
    border-radius: 5px;
    border: solid var(--accent-color);
    background-color: var(--secondary-color);
    margin: 15px 2px 15px 2px;
}

.color-schema img {
    width: 100%;
    max-width: 700px;
    border-top:black 5px solid;
    border-bottom:black 5px solid;
}

#wireframes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

figcaption {
    font-family: var(--main-font-family);
    color: var(--font-color);
    text-align:center;
    padding: 10px;
}

#small img {
    width: 100%;
    max-width:250px;
}

#large img {
    width: 100%;
    max-width: 500px;
}

footer {
    display: block;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--font-color);
    padding: 5px 0 5px 0;
    border-radius: 5px;
}
