:root {
    --primary-color: hsl(209, 100%, 36%);
    --secondary-color: white;
    --tirtiary-color: hsla(209, 100%, 36%, 0.612);
    --main-font: "Roboto", sans-serif;
    --fontweight-thin: 100;
    --fontweight-bold: 700;
}

body{
    display:block;
    margin:  0 auto;
    width: 100%;
    max-width: 100vw;
    
}

header{
    background-color: var(--primary-color);
}

header p {
    background-image: url('/images/lindsay-tartan.svg');
    background-size:100%;
    height: 35px;
    margin: 0;
}

h1{
    color: var(--secondary-color);
    font-weight: var(--fontweight-bold);
    text-align: center;
    padding-top:30px;
    text-shadow: 1px 1px 2px black;
}

.hero img{
    max-width: 100%;
    height: auto;
}

#data, #weather{
    display:flex;
    text-align: center;
    border: 5px var(--tirtiary-color) solid;
    flex-direction: column;
}

#data h2, #weather h2{
    border-bottom: 3px var(--tirtiary-color) solid;
    padding: 15px;
    margin: 0;
    text-shadow: 1px 1px 2px black;

}

.information{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items:center;
    font-weight: var(--fontweight-thin);
}

.information h3{
    grid-column: 1;
    justify-self: end;
    margin: 5px;
}

.information p{
    grid-column: 2;
    margin: 5px;
    justify-self:left;
}

#languages{
    text-align: left;
}

#weather img{
    width: 3rem;
    align-self: center;
}

footer {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(--primary-color);
    text-align: center;
    font-weight: var(--fontweight-thin);
    color:var(--secondary-color);
    text-shadow: 1px 1px 2px black;

}
