@media screen and (min-width: 500px)
{
	body{
		width: fit-content;
		padding: 10px;
	}

    header {
		display: grid;
		align-items: center;
		justify-content: space-between;
		background-color: var(--nav-background-color);
		grid-template-columns: 1fr 2fr;
	}

	.nav1 {
		display: flex;
		justify-content: flex-end;
		flex-direction: row;
		flex: 1 1 100%;
		color: var(--nav-link-color);
		text-decoration: none;
		padding: 1rem;
		width:auto;
		font-size: 1.2rem;
	}
	
	#menu {
		display:none;
	}


    #figures{
        grid-template-columns: 1fr 1fr 1fr;
    }
}