body{
    font-family: "Roboto", sans-serif;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: solid rgba(215, 16, 83, 0.073);
    padding: 1rem;
    background: rgba(22, 108, 230, 0.192);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

section{
    padding: 1rem;
    background: rgba(255, 255, 255, 0.626);
}